<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Items home</title>
  <meta name="description" content="Hello World">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
<nav class="navbar">
    <h6>Cart</h6>
  </nav>
<header>
  <div class="jumbotron">
    <div class="container">
      <div class= "top">
        <h1>No Brand Clothing</h1>
        <h6>Simple clothes. Simple Prices</h6>






      </div>
    </div>
  </div>
</header>


  <div class="container containerrow">
    <div class="row row1">

      <div class="col-lg-4">
        <div class="well">
          <%= @hat_one.name %>

          <a href="" class='btn btn-primary'>View</a>

        </div>
      </div>


      <div class="col-lg-4">
          <div class="well">
            <%= @hat_two.name %>

            <a href="" class='btn btn-primary'>Button</a>

          </div>
      </div>

      <div class="col-lg-4">
        <div class="well">


          <a href="" class='btn btn-primary'>Button</a>

          </div>
      </div>

    </div>
    <div class="row row2">

      <div class="col-lg-4">
        <div class="well"> This is the first column</div>
      </div>
      <div class="col-lg-4">
          <div class="well"> This is the second column</div>
      </div>
      <div class="col-lg-4">
        <div class="well"> This is the third column</div>
      </div>

    </div>
    <div class="row row3">

      <div class="col-lg-4">
        <div class="well"> This is the first column</div>
      </div>
      <div class="col-lg-4">
          <div class="well"> This is the second column</div>
      </div>
      <div class="col-lg-4">
        <div class="well"> This is the third column</div>
      </div>

    </div>
  </div>

<footer>

</footer>





  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"</script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
